.SecyionType{
    width: 90%;
    height: 300px;
    margin: 5% 5%;
    
}

.SecyionType p{
    height: 70%;
    font-size: 50px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    line-height: 85.68px;
    letter-spacing: 0.1pz;
    text-align: center;
}

.SecyionType .Img{
    height: 30%;
}
